h2 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: skyblue;
    color: #fff;
    font-style: normal;
}

.container li {
    
}
